@use "../settings/fonts";
@use "../settings/colors";

* {
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: fonts.$m;
  color: colors.$text-primary;
  font-family: Trap;
  font-weight: 200;
  font-size: 0.9rem;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}