@use "../../../../design-system/settings/colors";
@import "../../../../design-system/settings/breakpoints";

.avblty-form {
  // border: 1px solid colors.$green;
  // padding: 1.2rem;
  display:flex; 
  flex-direction: column; 
  border-radius: 3rem;

  @include tablet() {
    padding: 1.8rem;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.avblty-form__wp{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1rem 0;

  @include tablet() {
    margin: 2rem 0;
  }
}