@use "../colors";

@mixin badgeRound($color: colors.$cream) {
  display: flex;
  font-weight: 600;
  border: 1px solid $color;
  border-color: $color;
  color: $color;
  padding: 3px 8px 6px 8px;
  border-radius: 1rem;
}