@use "../../../design-system/settings/border";
@use "../../../design-system/settings/spacing";
@use "../../../design-system/settings/breakpoints";

.destination-slider-container {
  overflow: hidden;
  display: flex;
  height: 100%;
  position: relative;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 0 ;

  @media only screen and (min-width: breakpoints.$tablet) {
    margin: 0 spacing.$pd__dk-small;
  }

  @media only screen and (min-width: breakpoints.$desktop) {
    margin: 0 spacing.$pd__dk-big;
  }
}

.slider {
  position: relative;
  display: flex;
  transition: transform 500ms ease-in-out;
  height: 100%;

  &__slide {
    height: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem;

    & img {
      width: 100%;
      height: 100%;
      border-radius: border.$radius-mid;
      object-fit: cover;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    width: 18%;
    z-index: 10;
    height: 100%;
    cursor: none;
    
    &-right {
      right: 0;
    }

    &-left {
      left: 0;
    }
  }
}

.init-button {
  position: absolute;
  top: 80%;
  left: 90%;
  border: 1px solid green;
  z-index: 9;
  width: 30px;
  height:30px;
  background-color:black;
}