@use "../../design-system/settings/spacing";
@use "../../design-system/settings/border";
@use "../../design-system/settings/colors";
@use "../../design-system/settings/breakpoints";

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  &__header {
    margin-top: spacing.$pd__mb-big;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @media only screen and (min-width: breakpoints.$tablet) {
      margin-top: spacing.$pd__dk-big;
    }

    h1 {
      font-family: 'Eklektyk';
      font-size: 7rem;
    }
  }

  img {
    border-radius: border.$radius-mid;
  }
}


.intro-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  
  &-left {
    position: relative;
    width: 100%;
    height: 85vh;
    top: -4rem;

    @media only screen and (min-width: breakpoints.$tablet) {
      width: 55%;
      top: 1rem;
    }
  }

  &-right {
    position: relative;
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column;

    @media only screen and (min-width: breakpoints.$tablet) {
      width: 35%;
      top: -4rem;
    }
  

    section {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 1rem;
      align-self: flex-end;

      @media only screen and (min-width: breakpoints.$tablet) {
        width: 90%;
      }
    }
  }

  img {
    border-radius: 15%;
    object-fit: cover;
  }
}

.care-about{
  flex-basis: 30vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}