@use "../../design-system/settings/spacing";
@use "../../design-system/settings/border";
@use "../../design-system/settings/colors";
@import "../../design-system/settings/breakpoints";

.destinations {
  &__sect-heading {
    text-align: center;
    padding: spacing.$pd__mb-big spacing.$pd__mb-small;

    @include desktop() {
      padding: spacing.$pd__dk-small ;
      text-align: left;
    }
  }

  &__sect-swipe {
    padding: spacing.$pd__mb-small;
    width: 100%;
  }
}