@use "../../design-system/settings/border";
@use "../../design-system/settings/breakpoints";
@use "../../design-system/settings/spacing";
@use '../../design-system/settings/colors';

.hero__sect-img {
  object-position: center;
  transform-origin: 'top top';
  display: flex;

  @media only screen and (min-width: breakpoints.$tablet) {
    width: 100%;
  }

  img {
    object-fit: cover;
    object-position: center;
    border-radius: border.$radius-mid;
    height: 80vh;
    margin: 0 spacing.$pd__mb-small;

    @media only screen and (min-width: breakpoints.$tablet) {
      margin: 0 spacing.$pd__dk-small ;
    }
  }
}

.hero__sect-text {
  margin-bottom: 2rem;
  padding: 0 spacing.$pd__mb-small;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  font-size: 4.5vw;

  @media only screen and (min-width: breakpoints.$tablet) {
    padding:0 4.7rem;
  font-size: 1.5vw;
  height: 30vh;


  }

    &-content {
      margin-left: auto;
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1rem;
      border-left: 1px solid colors.$brown;

      @media only screen and (min-width: breakpoints.$tablet) {
        padding-left: 3rem;
        width: 30vw;
        justify-content: center;

      }

      h4 {
        font-weight: 600;
      }
    }
}