@use "../../design-system/settings/border";
@use "../../design-system/settings/breakpoints";
@use "../../design-system/settings/spacing";



.hero {
  display: flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2.5rem;
  
  @media only screen and (min-width: breakpoints.$tablet) {
    margin-top: 3rem;
    gap: 3rem;
    }

  &__image-container {
    width: 90%;
    height: 55vh;
    object-position: center;
    padding: 0 spacing.$pd__mb-small ;

    @media only screen and (min-width: breakpoints.$tablet) {
      padding: 0 spacing.$pd__dk-xs ;
      }
  }

  &__image {
    object-fit: cover;
    object-position: center;
    border-radius: border.$radius-mid;
    height: 100%;
    width: 100%;

  }

  &__textblock {
    text-align: left;
    max-width: 600px;
    padding: 0 spacing.$pd__mb-small ;

    @media only screen and (min-width: breakpoints.$tablet) {
      gap: 2rem;
      padding: 0 spacing.$pd__dk-xs ;
      }
  }
}