@use "../../design-system/settings/border";
@use "../../design-system/settings/breakpoints";
@use "../../design-system/settings/spacing";
@use '../../design-system/settings/colors';

.hero__sect-img {
  object-position: center;
  display: flex;
  justify-content: center; 
  align-items: center;   
  position: relative;
  width: 100%;

  img {
    object-fit: cover;
    object-position: center;
    border-radius: border.$radius-mid;
    height: 90vh;
    position: relative;
    width: calc(100% - (spacing.$pd__mb-small * 2));

    @media only screen and (min-width: breakpoints.$tablet) {
      width: calc(100% - (spacing.$pd__dk-small * 2));

    }
  }
}

.hero__sect-text {
  padding: 0 spacing.$pd__mb-small;
  padding-top: 4rem;
  margin-bottom: 2rem;
  margin-top: 5vh;

  @media only screen and (min-width: breakpoints.$tablet) {
    padding: 0 spacing.$pd__dk-small;
    margin-top: 35vh;

  }

  @media only screen and (min-width: breakpoints.$desktop) {
    padding: 0 spacing.$pd__dk-small;
    font-size: 1.5vw;
    margin-top: 0;
  }

  &-content {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    gap: .5rem;

    @media only screen and (min-width: breakpoints.$desktop) {
      border-left: 1px solid colors.$brown;
      flex-direction: column;
      padding: 1rem 0rem 1rem 2.5vw;
      width: 30vw;
    }

    h4 {
      font-weight: 600;
    }
  }
}