@use '../../design-system/settings/colors';
@use '../../design-system/settings/spacing';
@import "../../design-system/settings/breakpoints";

.cookies {
  position: fixed;
  z-index: 1;
  padding: spacing.$s;
  background-color: colors.$bg--brown;
  color: colors.$text-primary;
  border: 1px solid colors.$green;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%); 
  max-width: calc(100% - 1rem); 

  @include mobile() {
    flex-direction: row;
    width: 650px;
    padding: spacing.$s spacing.$m;
    left: 50%; 
    transform: translateX(-50%); 
  }

  &__text {
    font-family: "Eklektyk";
    font-size: 2rem;
    line-height: 2.2rem;

    @include mobile() {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }

  }

  &__btns {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-end;
    white-space: nowrap;
    bottom: 0.3rem;
    flex-wrap: wrap;
    right: spacing.$m;
    bottom: calc(spacing.$s + 4px);
    font-size: 1rem;

    @include mobile() {
      flex-wrap: nowrap;
      position: absolute;
    }
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.slideUp {
  animation: slideUp 2.5s ease-out forwards;
}

.slideDown {
  animation: slideDown 2.5s ease-out forwards;
}

@keyframes slideUp {
  0% {
    bottom: -100%;  
  }
  100% {
    bottom: 1rem; 
  }
}

@keyframes slideDown {
  0% {
    bottom: 1rem;
  }
  100% {
    bottom: -100%;
  }
}