@use '../../design-system/settings/colors';
@use '../../design-system/settings/spacing';
@use '../../design-system/settings/breakpoints';


.credits {
  background-color: colors.$bg-brown;
  color: colors.$text-primary;
  padding: spacing.$section-mb;
  flex-direction: column;
  display: flex;
  gap: 4rem;

  @media only screen and (min-width: breakpoints.$mobile) {
    padding: spacing.$pd__dk-small;
  }

  // @include mobile-breakpoint {
  //   padding: spacing.$pd__dk-small;
  // }

  p {
    font-family: "Eklektyk";
    font-size: 2rem;
  }

  &__sect {
    display: flex;

    &-up {
      flex-direction: row;
      justify-content: space-between;

      p {
        font-size: 3rem;
      }
    }

    &-down {
      flex-direction: column;
      text-align: right;
    }
  }
}