@use '../../design-system/settings/colors';
@use '../../design-system/settings/spacing';

.footer-container {
  height: 40vh;
  background-color: colors.$bg-green;
  padding: spacing.$section_small;
}