@use '../../design-system/settings/colors';
@use '../../design-system/settings/spacing';
@use '../../design-system/settings/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: colors.$bg-green;
  color: colors.$text-secondary;
  padding: spacing.$section-mb;
  margin-top: 3rem;
  @media only screen and (min-width: breakpoints.$tablet) {
    padding: spacing.$pd__tb;
    gap: 1rem;
  }

  @media only screen and (min-width: breakpoints.$desktop) {
    padding: spacing.$pd__dk-small;
  }
  
  ::selection {
    background-color: colors.$bg-brown;
    color: colors.$text-primary;
  }

  &__nav-list {
    text-align: right;
    font-size: 1rem;
    font-family: "Eklektyk";
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  @media only screen and (min-width: breakpoints.$tablet) {
    flex-direction: row;
  }
  }

  &__policies {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    flex-direction: row;
    color: colors.$text-tertiary;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    @media only screen and (min-width: breakpoints.$mobile) {
      flex-direction: row;
    }
  }
}