@use "../../design-system/settings/colors";
@use "../../design-system/settings/border";
@use "../../design-system/settings/spacing";
@import "../../design-system/settings/colors";
@import "../../design-system/settings/breakpoints";


.frieze {
  min-height: 1.8rem;
  width: 100%;
  z-index: 3;
  position: relative;
  // border: 1px solid black;

  display: flex;
  gap: 3rem;
  padding: .5rem;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;

  &__bg {
    @include bg-color;
  }
}