@use "../../design-system/settings/spacing";
@use '../../design-system/settings/breakpoints';
@use '../../design-system/settings/colors';

.header {
  background-color: colors.$bg-cream;
  position: relative;
  padding: spacing.$pd__mb-small ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  left: 0;
  width: 100%;
  z-index: 1;

  @media only screen and (min-width: breakpoints.$tablet) {
  gap: 2rem;
  padding: spacing.$pd__dk-xs ;
  }
}

.header-navtool {
  height: 1.8rem;
  background-color: colors.$brown;
}