@use "../../design-system/settings/spacing";

.header {
  position: fixed;
  padding: 0 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 1rem;
  left: 0;
  width: 100%;

  height: 50px;
  z-index: 1;
}