@use '../../design-system/settings/colors';
@use '../../design-system/settings/breakpoints';

.navbar {
  width: 100%;
  height: 100%;

  &__icon-content {
    position: fixed ;
    height: 100vh ;
    right: 1rem ;
    display: flex ;
    align-items: flex-start;
    z-index: 4 ;
    top: 0;
    flex-flow: wrap;
    align-content: center;
    transition: all 4s ease;
    
  }
  
  &__menu {
    position: fixed;
    display: flex;
    align-items: center;
    right: -105vw;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: colors.$bg-brown;
    z-index: 3;
    padding: 0 4rem;
    transition: right 1s ease;
  
    @media only screen and (min-width: breakpoints.$tablet) {
      padding: 0 10rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-family: "Eklektyk";
    }
  }


}

.icon-wrapper {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  transform-origin: center center;
  box-sizing: border-box;
  will-change: transform;
  transition: all 1s ease;

  // &.rotate90 {
  //   transform: rotate(90deg);
  // }
  
  &.rotate45 {
    transform: rotate(45deg);
  }
}

@keyframes rotate90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}


