@import "../../design-system/settings/breakpoints";

.dest-check-container {
  position: relative;
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: 1fr;
  
  @include tablet() {
    grid-template-columns: 3fr 2fr;
  }
}