@use '../../design-system/settings/colors';
@import '../../design-system/settings/breakpoints';

.detail-header {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  
  section {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) {
      justify-content: flex-start;
    }
  }

  &__location {
    font-size: 1.3rem;
    font-weight: 600;

    @include desktop() {
      font-size: 1.5rem;
    }
  }
}
.detail-info {
  position: relative;
  display: flex; 
  justify-content: space-between;
  color: colors.$green;
  flex-direction: column;

  gap: 2rem;

  &__description {
    line-height: 1.7rem;
  }

  &__list {
    display: grid;
    font-weight: 600;
    grid-template-columns: 1fr 1fr;
  }

  @include mobile(){
    flex-direction: row;
    
    &__description {
      width: 50%;
    }
  
    &__list {
      width: 50%;  
    }
  }
}