@use '../../design-system/settings/colors';

.detail {
  display: flex; 
  justify-content: space-between;
  position: relative;
  color: colors.$green;

  &__description {
    width: 55%;
    line-height: 1.7rem;
  }


  &__list {
    width: 30%;
    display: grid;
  font-weight: 600;

    grid-template-columns: 1fr 1fr;
  }
}