.detail-header {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  
  section {
  align-items: center;
  justify-content: space-between;
  display: flex;

  }
  &__location {
    font-size: 1.5rem;
    font-weight: 600;
  }
}