@use "../../../settings/colors";
@import "../../../settings/colors";
@import "../../../settings/breakpoints";

.avlbty__form-picker {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;

  @include mobile() {
    gap: 3rem;
  }
}