@use "../../settings/colors";

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  ::placeholder {
    color: colors.$opacity-cream-light;
  }
}