@use "../../settings/colors";
@use "../../settings/border";
@use "../../settings/spacing";
@import "../../settings/colors";
@import "../../settings/breakpoints";

.dropdown {
  position: absolute;
  top: 0rem;
  right: 0;
  padding: spacing.$pd__mb--small;
  z-index: 5;
  width: 100%;
  background-color: colors.$brown;
  min-height: 80vh;
  transform: translateY(-105%);
  border-radius: 0 0 border.$radius--xxl border.$radius--xxl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: colors.$cream;

  @include tablet() {
    padding: spacing.$pd__dk--small;
    padding-bottom: 1rem;
    gap: 2rem;
  }

  background-color: rgb(32, 36, 46);
  // &__color {
  //   @include bg-color();
  // }

  >section {
    position: relative;
    // border: 1px solid red;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%;

    @include tablet() {
      gap: 2.5rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}