@use "../../settings/spacing";
@use "../../settings/colors";
@use "../../settings/border";
@import "../../settings/breakpoints";
@import "../../settings/spacing";

.dropdown {
  position: relative;

  :hover {
    color: colors.$cream;
    background-color: colors.$green;
  }

  :hover  svg {
    stroke: colors.$cream;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include btn-space;
    font-weight: 500;
    border: 1px solid;
    
    &--cream {
      border-color: colors.$cream;
      color: colors.$cream;
    }
  
    &--green {
      border-color: colors.$green;
      color: colors.$green;
    }
  
    &--brown {
      border-color: colors.$brown;
      color: colors.$brown;
    }
  }

  &__list {
    position: absolute;
    min-width: 100%;
    margin-top: 0.3rem;
    z-index: 2;
    height: auto;
    background: colors.$green;
  }
  
  &__option {
    text-align: left;
    width: 100%;
    padding-left: 10px;
    padding: 10px;
    color: colors.$cream;
    transition: padding-left .5s ease;

    &:hover {
    padding-left: 20px;
    transition: padding-left .5s ease;
    }
  }
}