@use '../../design-system/settings/colors';
@use "../../design-system/settings/breakpoints";
@use '../../design-system/settings/spacing';

.cookies {
  position: fixed;
  bottom: 1rem;
  z-index: 1;
  padding: spacing.$s;
  background-color: colors.$bg-brown;
  color: colors.$text-primary;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 0.9rem;
  border: 1px solid colors.$green;
  
  @media only screen and (min-width: breakpoints.$mobile) {
    flex-direction: row;
    max-width: 610px;
    left: 1rem;
  }

  &__text {
    font-family: "Eklektyk";
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: -0.6rem;
    width: 100%;
    
    @media only screen and (min-width: breakpoints.$mobile) {
      &__text {
        width: 70%;
      }
    }
  }

  &__btns {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    white-space: nowrap;
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

}