@use "../settings/spacing";
@use "../settings/colors";
@use "../settings/border";
@use "../settings/breakpoints";


.destination-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80vh;

  @media only screen and (min-width: breakpoints.$mobile) {
    height: 100%;
  }

  &__image-wrapper {
    position: relative;
    min-height: 90%;

    @media only screen and (min-width: breakpoints.$mobile) {
      min-height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;  
      border-radius: border.$radius-mid;
      transition: background-color 0.3s ease;
      z-index: 1; 
    }

    &:hover::after {
      background-color: colors.$card-brown-hover; 
    }
  }

  &__image {
    border-radius: border.$radius-mid;
    height: 100%;
    object-fit: cover;
    position: relative;  
  }

  &__homename {
    text-align: left;
    margin-top: 1rem;
    @media only screen and (min-width: breakpoints.$mobile) {
      display: none;
    }
  }

  &__homename-dk {
    position: absolute;
    text-align: center;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 2;

    .destination-card__image-wrapper:hover & {
      opacity: 1; 
    }
    @media only screen and (min-width: breakpoints.$mobile) {
      display: block;
    }

  }
}