@use "../settings/spacing";
@use "../settings/colors";
@use "../settings/border";

.destination-card {
  display: flex;
  flex-direction: column;
  gap: spacing.$xs;
  position: relative;
  height: 100%;

  &__image-wrapper {
    position: relative;
    height: 95%;
  }

  &__image {
    border-radius: border.$radius-mid;
    height: 100%;
    object-fit: cover;
    
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}