@use "../settings/spacing";
@use "../settings/colors";
@use "../settings/border";
@use "../settings/breakpoints";


.dropdown {
  position: relative;
  
  &__button {
    display: block;
    min-width: 135px;
    line-height: 1.5rem;
    text-align: left;
    padding: 0 0.8rem;
  
    @media only screen and (min-width: breakpoints.$tablet) {
    line-height: 2rem;
    min-width: 200px;

    }

    &-cream {
      border-bottom: 1px solid colors.$cream;
      border-right: 1px solid colors.$cream;
      color: colors.$cream;
    }
  
    &-green {
      border-bottom: 1px solid colors.$green;
      border-right: 1px solid colors.$green;
      color: colors.$green;
    }
  
    &-brown {
      border-bottom: 1px solid colors.$brown;
      border-right: 1px solid colors.$brown;
      color: colors.$brown;
    }
  }

  &__list {
    position: absolute;
    min-width: 100%;
    border: 1px solid colors.$green;
    margin-top: 0.3rem;
    z-index: 10;
    color: colors.$text-secondary;
    background: colors.$green;
  }
  
  &__option {
    padding: 10px;
    cursor: pointer;
  
    &:hover {
      font-weight: 600;
      // color: colors.$cream;
      // background: colors.$cream;
    }
  }
}