@use "../settings/colors";
@use "../settings/spacing";
@use "../settings/border";
@import "../settings/breakpoints";

.fullscreen {
  position: fixed; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0; 
  left: 0; 
  width: 100vw;
  height: 100vh;
  background-color: colors.$bg--green-opacity;
  // background-color: colors.$cream;
  z-index: 5;

    &__btn {
    position: absolute;
    top: spacing.$pd__mb--small;
    left: spacing.$pd__mb--small;
    z-index: 6;

    @include tablet()  {
      padding: spacing.$m;
    }
  }

  &__img {
    width: auto;
    height: 70vh;
    display: inline-block;
    object-fit: contain;
    border-radius: border.$radius--large;
  }

  &__pagination {
    z-index: 10;  
  }
}

.fullscreen__img-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  border: 1px solid red;
}