  .gallery {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;    
    height: 100%;                  
    gap: 0.5rem;

    &__elmt {
      border-radius: 3rem;
      height: 100%;
      display: flex;           
      overflow: hidden;       
      cursor: pointer;
  
      img {
        border-radius: 3rem;
        object-fit: cover;     
      }
    }
    &__left-side {
      grid-column: 1 / 2;
      grid-row: 1 / 3;             
    }
  
    &__right-side {
      width: 100%;
      height: 100%;
  
      &--top {
        grid-column: 2 / 3;      
        grid-row: 1 / 2;        
      }
  
      &--bottom {
        grid-column: 2 / 3;  
        grid-row: 2 / 3;    
      }
    }
  }