.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__slider {
    display: flex;
    transition: transform 500ms ease-in-out;

    &__slide {
      flex: 0 0 calc(100% / 3); 

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    color: white;

    & button {
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
