@use "../../../../../design-system/settings/colors";
@use "../../../../../design-system/settings/border";
@use "../../../../../design-system/settings/spacing";
@import "../../../../../design-system/settings/colors";
@import "../../../../../design-system/settings/breakpoints";

.dd-avblty {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  position: relative;
  justify-content: space-between;
  width: 100%;
  // border: 1px solid pink;

  @include tablet() {
    flex-direction: row;
  gap: 3rem;

  }

  ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    
    li {
      font-weight: 800;
    }
  }

  form {
    width: 100%;

    margin-top: 2rem;
    @include tablet() {
      width: 50%;
    }

    @include desktop() {
      width: 35%;

    }
  }

  &__response {
    width: 100%;

    @include desktop() {
      width: 50%;
    }

    &__column-sect {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__submitted {
      max-width: 400px;
      height: 8rem;
      position: relative;

      div {
        height: 100%;
      }
    }

    &-destination {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      @include mobile() {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }
      
      img {
        height: 250px;
        border-radius: 2rem;
      }
    }
  
  }
}