@use "../../../settings/colors";
@use "../../../settings/fonts";
@import "../../../settings/breakpoints";

.accordion {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  
  &__item {
    width: 100%;

    .opened {
      color: colors.$cream !important;
    }

    button {
      text-align: left;
      transition: color 0.1s ease;
      display: inline-block;
      font-family: 'Eklektyk';
      color: colors.$cream;
      font-size: fonts.$h3-mb;
      cursor: pointer;

      @include tablet() {
        font-size: fonts.$h1-mb;
      }

      &:hover,
      &:active {
        color: colors.$cream !important;
        opacity: 0.7;

        ~hr {
          background-color: colors.$cream !important;
        }
      }

      .opened {
        color: colors.$cream !important;
      }

      @include desktop() {
        font-size: 5rem;
        line-height: 6rem;
      }
    }
  }

  &__content {
    height: auto;
    overflow: hidden;
    box-sizing: content-box;

    p {
      padding: 1.3rem 0 1rem 0;
      color: colors.$cream;
      font-weight: 500;
      font-size: 1.5rem;

      @include desktop() {
        width: 55vw;
      }
    }
  }
}