@import '../../../design-system/settings/breakpoints';

.swipe-sect {
  height: 80vh;
  display: block;

  @include tablet() {
    display: none;
  }
}

.gallery-sect {
  height: 35vw;
  display: none;

  @include tablet() {
    display: block;
  }
}