@use "../../../design-system/settings/colors";
@use "../../../design-system/settings/spacing";
@import "../../../design-system/settings/breakpoints";
@import "../../../design-system/settings/mixins/mixins";


.dest-check__container {
  position: relative;
  width: 100%;
  padding: 2rem spacing.$pd__mb--small;

  @include flexColumn;
  gap: 4rem;

  hr {
    @include tablet() {
      display: none;
    }
  }
  
  @include tablet() {
    padding: 2rem spacing.$pd__dk--small;
    flex-direction: row;
  }

}

.dest-info {
  position: relative;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;

  @include tablet() {
    width: 50%;
  }

  @include desktop() {
    width: 50%;
  }

  &__capacity {
    display: flex;
    gap: 2rem;
    font-weight: 600;
  }

  &__description {
    line-height: 1.7rem;
    color: colors.$green;
  }
}

.dest-form {
  width: 100%;

  @include tablet() {
    width: 50%;
  }

  @include desktop() {
    width: 40%;
  }
}