@use '../../../design-system/settings/colors';
@import '../../../design-system/settings/breakpoints';

.detail-header {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__location {
    font-size: 1.5rem;
  }
}