@use "../../../design-system/settings/colors";
@import "../../../design-system/settings/breakpoints";
@import "../../../design-system/settings/colors";


.avblty-form {
  // border: 1px solid colors.$green;
  // padding: 1.2rem;
  display:flex; 
  flex-direction: column; 
  gap: 1rem;
  border-radius: 3rem;

  @include tablet() {
    padding: 1.8rem;
    gap: 1rem;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    font-size: 3rem;
  }

  &__feedback {
    text-align: left;
    // background-color: colors.$brown;
    color: colors.$brown;
    border: 3px dotted colors.$brown;
    padding: 0.8rem;
    border-radius: 1rem;
  }
}