@use "../settings/spacing";
@use "../settings/breakpoints";

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2.5rem;
  column-gap: 4rem;
  padding: 0 spacing.$pd__mb-small;

  @media only screen and (min-width: breakpoints.$tablet) {
    padding: 0;
  }

  @media only screen and (min-width: breakpoints.$desktop) {
    padding: 0 (spacing.$pd__dk-big - spacing.$pd__dk-small);
  }
}
