@use "../settings/spacing";
@use "../settings/colors";
@use "../settings/border";
@use "../settings/breakpoints";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
  padding: spacing.$section-mb;
  // justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (min-width: breakpoints.$tablet) {
    gap: 3rem;
  }

  &__xs {
    @media only screen and (min-width: breakpoints.$tablet) {
      padding: spacing.$pd__tb;
    }

    @media only screen and (min-width: breakpoints.$desktop) {
      padding: spacing.$pd__dk-xs;
    }
  }


  &__small {
    @media only screen and (min-width: breakpoints.$tablet) {
      padding: spacing.$pd__tb;
    }

    @media only screen and (min-width: breakpoints.$desktop) {
      padding: spacing.$pd__dk-small;
    }
  }

  &__big {
    @media only screen and (min-width: breakpoints.$tablet) {
      padding: spacing.$pd__tb;
    }

    @media only screen and (min-width: breakpoints.$desktop) {
      padding: spacing.$pd__dk-big;
    }
  }

  &__full {
    padding: spacing.$pd-full;
  }

  &__bg-cream {
    background-color: colors.$bg-cream;
    color: colors.$bg-brown;
    ::selection {
      color: colors.$bg-green; 
      background: colors.$bg-brown;
    }
  }

  &__bg-green {
    background-color: colors.$bg-green;
    color: colors.$bg-cream;

    ::selection {
      color: colors.$bg-brown; 
      background: colors.$bg-cream;
    }
  }

  &__bg-brown {
    background-color: colors.$bg-brown;
    color: colors.$bg-cream; 

    ::selection {
      color: colors.$bg-cream; 
      background: colors.$bg-green;
    }
  }
}