@use "../../settings/breakpoints";
@use "../../settings/colors";
@use "../../settings/fonts";



.accordion {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  &__item {
    width: 100%;

    .opened {
      color: colors.$green !important;
    }

    h3 {
      transition: color 0.3s ease;
      cursor: default;
      font-family: 'Eklektyk';
      color: colors.$cream;
      // font-size: fonts.$h1-mb;
      font-size: 15vw;

      &:hover,
      &:active {
        color: colors.$green !important;

        ~hr {
          background-color: colors.$green !important;
        }
      }
      
      .opened {
        color: colors.$green !important;
      }

      @media only screen and (min-width: breakpoints.$desktop) {
        font-size: 5rem;
        line-height: 6rem;
      }
    }
  }


  &__content {
    height: auto;
    overflow: hidden;
    box-sizing: content-box;


    p {
      padding: 1.3rem 0 1rem 0;
      color: colors.$green;
      font-weight: 700;

      @media only screen and (min-width: breakpoints.$desktop) {
        width: 55vw;
      }
    }
  }
}