@use "../../settings/breakpoints";

.accordion {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap:1rem;

  &__item {
    width: 100%;

    h3 {
      @media only screen and (min-width: breakpoints.$desktop) {
        font-size: 5rem;
        line-height: 6rem;
  
      }
    }
  }
  &__title {
    cursor: pointer;
  }
  
  &__content {
    height: auto;
    overflow: hidden;
    box-sizing: content-box;


    p {
    padding: 1.3rem 0 1rem 0;
    
    @media only screen and (min-width: breakpoints.$desktop) {
      width: 55vw;
    }
    }
  }
}
