$cream: var(--cream);
$brown: var(--brown);
// $brown: #171923;

$brown-light: #813d23;
$green: var(--green);

$brown--disabled: #BF9A8B;
$green--disabled: #4e5a48;
$cream--disabled: #61483e;

$bg--cream: $cream;
$bg--green: $green;
$bg--brown: $brown;

$opacity-cream-light: rgba(228, 227, 223, 0.3);
$opacity-brown-light: rgba(126, 52, 24, 0.3);
$opacity-brown-dark: rgba(126, 52, 24, 0.8);
$opacity-green-dark: rgba(23, 27, 14, 0.98);

$text-primary: $green;
$text-secondary: $cream;
$text-tertiary: $brown;

$button-primary: $green;
$button-secondary: $cream;
$button-tertiary: $brown;

@mixin bg-color(){
  &--green {
    background-color: $green;
    @include selectionCreamBg;
  }

  &--cream {
    background-color: $cream;
    @include selectionBrownBg;
  }

  &--brown {
    background-color: $brown;
    @include selectionGreenBg;
  }

  &--brown-light {
    background-color: $brown-light;
    @include selectionGreenBg;
  }
}

@mixin color(){
  &--green {
    color: $green;
  }

  &--cream {
    color: $cream;
  }

  &--brown {
    color: $brown;
  }

  &--brown-light {
    color: $brown-light;
  }
}

@mixin borderColor(){
  &--green {
    border-color: $green;
  }

  &--cream {
    border-color: $cream;
  }

  &--brown {
    border-color: $brown;
  }

  &--brown-light {
    border-color: $brown-light;
  }
}

@mixin fill(){
  &--green {
    fill: $green;
    transition: fill 0.2s ease-in-out; 
  }

  &--cream {
    fill: $cream;
    transition: fill 0.2s ease-in-out; 
  }

  &--brown {
    fill: $brown;
    transition: fill 0.2s ease-in-out; 
  }

  &--brown-light {
    fill: $brown-light;
    transition: fill 0.2s ease-in-out; 
  }
}

@mixin selection($background-color, $text-color) {
  ::selection {
    background-color: $background-color;
    color: $text-color;
  }
  
  ::-moz-selection { 
    background-color: $background-color;
    color: $text-color;
  }

  &::-webkit-selection {
    background-color: $background-color;
    color: $text-color;
  }
}

@mixin selectionGreenBg {
  @include selection($green, $brown)
}

@mixin selectionBrownBg {
  @include selection($brown, $cream)
}

@mixin selectionCreamBg {
  @include selection($cream, $brown)
}