$cream: #F5F0DE;
$brown: #7E3418;
$brownLighter: #B56040;
$green: #171b0e;

$bg-cream: $cream;
$bg-green: $green;
$bg-brown: $brown;

$bg-green-opacity: rgba(23, 27, 14, 0.9);

$text-primary: $green;
$text-secondary: $cream;
$text-tertiary: $brown;

$button-primary: $green;
$button-secondary: $cream;
$button-tertiary: $brown;

