$cream: #F5F0DE;
$brown: #7E3418;
// $brown: #171923;

$brownLighter: #B56040;
$green: #171b0e;

$brown--disabled: #BF9A8B;
$green--disabled: #4e5a48;
$cream--disabled: #61483e;


$bg--cream: $cream;
$bg--green: $green;
$bg--brown: $brown;

$bg--green-opacity: rgba(23, 27, 14, 0.9);


$text-primary: $green;
$text-secondary: $cream;
$text-tertiary: $brown;

$button-primary: $green;
$button-secondary: $cream;
$button-tertiary: $brown;

$card-brown-hover: rgba(126, 52, 24, 0.4);
$card-brown-hover-dk: rgba(126, 52, 24, 0.8);


@mixin bg-color(){
  &--green {
    background-color: $green;
  }

  &--cream {
    background-color: $cream;
  }

  &--brown {
    background-color: $brown;
  }
}

@mixin color(){
  &--green {
    color: $green;
  }

  &--cream {
    color: $cream;
  }

  &--brown {
    color: $brown;
  }
}

@mixin fill(){
  &--green {
    fill: $green;
  }

  &--cream {
    fill: $cream;
  }

  &--brown {
    fill: $brown;
  }
}