$s: 0.8rem;
$m: 1rem;
$l: 1.2rem;

$h1: 4.5rem;
$h2: 3rem;
$h3: 2rem;

$line-height-h1: 4.3rem;
$line-height-h2: 3rem;
$line-height-h3: 2rem;

$link-xs: $s;
$link-s: $m;
$link-m: 2rem;
$link-l: 3rem;
