$s: 1rem;
$m: 1.2rem;
$l: 1.5rem;

$h1-mb: 4.4rem;
$h2-mb: 2.5rem;
$h3-mb: 2rem;

$h1-dk: 7rem;
$h2-dk: 4rem;
$h3-dk: 2.5rem;

$line-height-h1: 6rem;
$line-height-h2: 4rem;
$line-height-h3: 2.5rem;

$link-xs: 0.8rem;
$link-s: 1rem;
$link-m: 1.3rem;
$link-l: 3rem;


