// Fonts
@font-face {
  font-weight: 200;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Light.otf")
}

@font-face {
  font-weight: 400;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Regular.otf")
}

@font-face {
  font-weight: 600;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Medium.otf")
}

@font-face {
  font-weight: 700;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Bold.otf")
}

// Font sizes:
$s: 0.8rem;
$m: 1rem;
$l: 1.2rem;

$h1: 4rem;
$h2: 2.5rem;
$h3: 2rem;

