@use "./breakpoints";
$xs: 0.8rem;
$s: 1rem;
$m: 2rem;
$l: 4rem;

$pd--full: 0;
$pd__mb--small: 0.8rem;
$pd__mb--big: 1.8rem;
$pd__mb--xl: 3rem;


$pd__tb: 4rem;
$pd__tb--small: 2rem;

$pd__dk--xs: 1.5rem;
$pd__dk--small: 3.4rem;
$pd__dk--big: 8rem;
$pd__dk--xl: 12rem;

$section__mb: $pd__mb--xl $pd__mb--small;

@mixin btn-space {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  height: 2.8rem;
}

@mixin btn-space-header {
  padding: 0.2rem 0.6rem 0.1rem 0.6rem;
  height: 1.8rem;
}