@use "./breakpoints";
$xs: 0.8rem;
$s: 1rem;
$m: 2rem;
$l: 4rem;

$pd--full: 0;
$pd__mb--small: 0.8rem;
$pd__mb--big: 1.5rem;

$pd__tb: 4rem;

$pd__dk--xs: 1.5rem;
$pd__dk--small: 3.4rem;
$pd__dk--big: 8rem;

$section__mb: $pd__mb--big $pd__mb--small;