@font-face {
  font-weight: 200;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Light.otf")
}

@font-face {
  font-weight: 400;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Regular.otf")
}

@font-face {
  font-weight: 600;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Medium.otf")
}

@font-face {
  font-weight: 700;
  font-family: Trap;
  src:
    url("/src/assets/fonts/Trap-Bold.otf")
}