@use "../settings/fonts";
@use "../settings/colors";

:root {
  --cream: #F5F0DE;
  --brown: #7E3418;
  --brown-lighter: #B56040;
  --green: #10120A;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: fonts.$m;
  color: colors.$text-primary;
  font-family: Trap;
  font-weight: 200;
  background-color: var(--cream);
}

button {
  background: transparent;
  border: none;
  line-height: 1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: fonts.$m;
  color: inherit;

}

a:visited {
  color: inherit;
}

::selection {
  color: colors.$bg-cream; 
  background: colors.$bg-green;
}