@use "../../settings/colors";
@use "../../settings/fonts";
@import "../../settings/spacing";

@mixin vertical-color($color) {
  background-image: linear-gradient($color, $color 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
  display: flex;
  white-space: nowrap;

  &__header {
    font-family: "Eklektyk";
    font-size: 1.5rem;
    @include btn-space-header;
    transition: all 0.7s;
    display: inline-block;
    width: auto;

    &--green {
      @extend .button__header;
      color: colors.$cream;
      border: 1px solid colors.$green;
      @include vertical-color(colors.$green);

      &:hover {
        color: colors.$green;
        background-size: 100% 0;
      }

      &:active {
        background-color: colors.$green;
        color: colors.$cream;
      }
    }

    &--cream {
      padding-top: 0.1rem !important;

      @extend .button__header;
      color: colors.$cream;
      border: 1px solid colors.$cream;
      @include vertical-color(colors.$brown);

      &:hover {
        background-color: colors.$cream;
        color: colors.$brown;
        background-size: 100% 0%;
      }
    }

    &--brown {
      @extend .button__header;
      color: colors.$cream;
      border: 1px solid colors.$brown;
      @include vertical-color(colors.$brown);


      &:hover {
        color: colors.$cream;
        // background-size: 100% 0;
      }

      &:active {
        background-color: colors.$green;
        color: colors.$brown;
      }
    }
  }

  &__default {
    font-family: "Eklektyk";
    font-size: 1.5rem;
    @include btn-space;
    text-transform: uppercase;
    transition: all .5s;
    width: 100%;
    display: inline-block;

    &--green {
      @extend .button__default;
      color: colors.$cream;
      border: 1px solid colors.$green;
      @include vertical-color(colors.$green);

      &:hover {
        background-color: colors.$cream;
        color: colors.$brown;
        border: 1px solid colors.$green;
        background-size: 100% 0;
      }

      &:active {
        background-color: colors.$green;
        color: colors.$cream;
      }
    }

    &--cream {
      @extend .button__default;
      color: colors.$brown;
      border: 1px solid colors.$cream;
      @include vertical-color(colors.$cream);

      &:hover {
        color: colors.$cream;
        background-size: 100% 0;
      }

      &:active {
        // background-color: colors.$green;
        color: colors.$cream;
      }
    }

    &--brown {
      @extend .button__default;
      color: colors.$cream;
      border: 1px solid colors.$brown;
      @include vertical-color(colors.$brown);

      &:hover {
        color: colors.$brown;
        background-size: 100% 0;
      }

      &:active {
        background-color: colors.$green;
        color: colors.$brown;
      }
    }
  }

  &__underline {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: .3s ease;
      height: 1px;
    }

    &:hover:after {
      width: 0;
    }

    &--green {
      @extend .button__underline;
      color: colors.$button-primary;

      &:after {
        background: colors.$button-primary;
      }
    }

    &--cream {
      @extend .button__underline;
      color: colors.$button-secondary;

      &:after {
        background: colors.$button-secondary;
      }
    }

    &--brown {
      @extend .button__underline;
      color: colors.$button-tertiary;

      &:after {
        background: colors.$button-tertiary;
      }
    }
  }
}

