@use "../../settings/colors";
@import "../../settings/colors";
@import "../../settings/breakpoints";

.loaderwrapper {
  width: 100%;
  padding: .8rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  color: colors.$cream;
  border: 3px dotted;
  border-radius: 1rem;
  align-items: center;

  &__color {
    @include borderColor();
  }
}

.loader {
  border: 3px solid;
  border-radius: 50%;
  border-top: 3px solid transparent!important;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;

  &__color {
    @include borderColor();
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}