@use "../../settings/colors";
@import "../../settings/colors";
@import "../../settings/breakpoints";

.loaderwrapper {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: colors.$cream;
  border: 3px dotted;
  border-radius: 1rem;
  align-items: center;
  padding: 0;
  height: 0;
  opacity: 0;
  transform-origin: top center; 
  transform: scaleY(0);
  visibility: hidden;
  transition: visibility 0.3s ease, height 0.3s ease, transform 0.1s ease, opacity 0.3s ease;

  &--active {
    padding: .8rem 0;
    height: 4rem;
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
  }

  &__color {
    @include borderColor();
  }
}

.loader {
  border: 2px solid;
  border-radius: 50%;
  border-top: 3px solid transparent!important;
  width: 30px;
  height: 30px;
  transform: scaleY(0);
  transition: visibility 0.3s ease, height 3s ease, transform 0.1s ease, opacity 0.3s ease;

  &--active {
    animation: spin 1s linear infinite;
    transform: scaleY(1);
  }

  &__color {
    @include borderColor();
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

