@use "../../../design-system/settings/spacing";
@use "../../../design-system/settings/border";
@use "../../../design-system/settings/colors";
@import "../../../design-system/settings/breakpoints";

.about-intro {
  &__header {
    margin-top: spacing.$pd__mb--big;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    @include tablet() {
      margin-top: spacing.$pd__dk--small;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -7rem;
    gap: 2rem;
  
    @include tablet() {
      top: unset;
    }

    &--left {
      position: relative;
      width: 100%;
      height: 50vh;
  
      @include tablet() {
        width: 55%;
        top: 1rem;
        height: 85vh;
      }
    }
  
    &--right {
      position: relative;
      width: 100%;
      display: flex;
      gap: 2rem;
      align-items: flex-start;
      flex-direction: column-reverse;
  
      @include tablet() {
        width: 35%;
        top: -4rem;
        flex-direction: column;
      }
  
      div {
        height: 50vh;
        width: 100%;
      }
  
      section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        align-self: flex-end;
        text-align: center;
  
        @include tablet() {
          width: 90%;
          text-align: left;
        }
      }
    }

    img {
      border-radius: border.$radius--xl;
      object-fit: cover;
    }
  }
}

.care-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  background-color: colors.$green;
  width: 100%;
  height: 100%;
  color: colors.$cream;

  @include tablet() {
  min-height: 100vh;
  }

  @include desktop() {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 0 spacing.$pd__dk--small;
    margin-bottom: spacing.$pd__dk--small;

  }

  &__elm {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;

    @include desktop() {
      flex-basis: 30vw;
    }

    &:nth-child(2) {
      height: 60vh;
  
      @include desktop() {
        height: 70%;
      }
    }
  
    img {
      border-radius: border.$radius--mid;
      object-fit: cover;
      object-position: bottom;
    }
  }
}
