@use "../../../design-system/settings/spacing";
@use '../../../design-system/settings/colors';
@import "../../../design-system/settings/colors";
@import '../../../design-system/settings/breakpoints';

.header {
  position: relative;
  width: 100%;
  z-index: 1;
  // height: 3vh;

  @include tablet() {
    // height: 5vh;
  }

  &__logo-dinamic-wp {
    position: relative;
    width: 100%;
    @include tablet() {
      width: 85%;
    }

    @include desktop() {
      width: 55%;
    }
  }

  &__logo--dinamic {
    position: absolute;
    z-index: 2;
    padding: spacing.$pd__mb--small spacing.$pd__mb--small 0 spacing.$pd__mb--small;
    // transform: translate(spacing.$pd__mb--small, spacing.$pd__mb--small);
    width: 100%;
    @include tablet() {
      transform: translate(spacing.$pd__tb--small, spacing.$pd__tb--small);
    }
    @include desktop() {
      transform: translate(calc(spacing.$pd__dk--small), spacing.$pd__dk--small);
    }
  }


  &__margin {
    height: 150px;

    @include tablet() {
      height: 0;
    }
    @include desktop() {
      height: 0;
    }
  }
}

.bottom-limit {
  width: 100%;
  position: relative;

  @include desktop() {
    display: none;
  }
}