@use "../../../design-system/settings/border";
@use "../../../design-system/settings/spacing";
@use '../../../design-system/settings/colors';
@import "../../../design-system/settings/mixins/mixins";
@import "../../../design-system/settings/breakpoints";

.hero__sect-img {
  position: relative;
  width: 100%;

  img {
    object-fit: cover;
    object-position: center;
    border-radius: border.$radius--mid;
    height: 90vh;
    position: relative;
    width: calc(100% - (spacing.$pd__mb--small * 2));

    @include tablet() {
      width: calc(100% - (spacing.$pd__dk--small * 2));
    }
  }
}

.hero__sect-text {
  padding: 0 spacing.$pd__mb--small;
  margin-bottom: 2rem;
  // padding-top: 4rem;
  // margin-top: 5vh;

  @include tablet() {
    padding: 0 spacing.$pd__dk--small;
  }

   @include desktop() {
    padding: 0 spacing.$pd__dk--small;
    font-size: 1.5vw;
    margin-top: 0;
  }

  &-content {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    
     @include desktop() {
      border-left: 1px solid colors.$brown;
      flex-direction: column;
      padding: 1rem 0rem 1rem 2.5vw;
      width: 30vw;
    }

    h4 {
      font-weight: 600;
    }
  }
}