@use "../../../../design-system/settings/border";
@use "../../../../design-system/settings/spacing";
@import "../../../../design-system/settings/breakpoints";

.slider__wrapper {
  overflow: hidden;
  display: flex;
  height: 100%;
  position: relative;
}

.slider__mask {
  position: relative;
  overflow: hidden;
  margin: 0 ;

  @include tablet() {
    margin: 0 spacing.$pd__dk--small;
  }

  @include desktop() {
    margin: 0 spacing.$pd__dk--big;
  }
}

.slider {
  position: relative;
  display: flex;
  transition: transform 500ms ease-in-out;
  height: 100%;
  // gap: 2rem;

  &__slide {
    height: 100%;
    padding: 0 1rem;
  }
}

.init-button {
  position: absolute;
  top: 80%;
  left: 90%;
  border: 1px solid green;
  z-index: 9;
  width: 30px;
  height:30px;
  background-color:black;
}