@use '../../../../design-system/settings/colors';
@use '../../../../design-system/settings/spacing';
@use '../../../../design-system/settings/breakpoints';
@use '../../../../design-system/settings/border';
@import "../../../../design-system/settings/breakpoints";

.horizontal-container {
  position: relative;
  overflow-x: hidden;
  
  @include desktop() {
    overflow-x: unset;
  }
}



.horizontal-panels {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  flex-shrink: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: spacing.$pd__mb--small;

  @include desktop() {
    padding: spacing.$pd__dk--big;
  }
}

.panel-care {
  background-color: colors.$green;
  color: colors.$cream;
}

.panel-text {
  background-color: colors.$cream;
  justify-content: flex-end;
  align-items: flex-start;

  @include tablet() {
    padding: spacing.$pd__dk--big;
  }

  h2 {
    font-size: 14vw;
    line-height: 14vw;
  
    @include tablet() {
      font-size: 6rem;
      line-height: 6rem;
    }
  
    @include desktop() {
      width: 55vw;
    }
  }
}



.panel-img {
  background-color: colors.$brown;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: border.$radius--mid;
  }
}