@use '../../../design-system/settings/colors';
@use '../../../design-system/settings/spacing';
@use '../../../design-system/settings/border';
@import '../../../design-system/settings/breakpoints';
@import '../../../design-system/settings/colors';

footer {
  background-color: colors.$bg--brown;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-sect {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: colors.$bg--green;
  color: colors.$text-secondary;
  padding: spacing.$pd__mb--big;
  border-radius: 0rem 0rem border.$radius--mid border.$radius--mid ;
  justify-content: space-between;

  //logo
  & svg {
    width: 70%;

    @include tablet() {
      width: 50vw;
    }
  }

  @include tablet() {
    padding: spacing.$pd__tb;
    gap: 3rem;
  }

  @include desktop() {
    padding: spacing.$pd__dk--small;
  }
  
  @include selectionBrownBg;

  &__nav-list {
    display: none;
    text-align: right;
    font-size: 1rem;
    font-family: "Eklektyk";
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet() {
      flex-wrap: nowrap;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
  }

  &__policies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: colors.$text-tertiary;
    gap: 1rem;
    margin-top: 2rem;
    align-content: flex-end;

    @include mobile() {
      margin-top: 0;
    justify-content: flex-end;

    }

  }
}