@use '../../../design-system/settings/colors';
@use '../../../design-system/settings/spacing';
@use '../../../design-system/settings/border';
@import '../../../design-system/settings/breakpoints';
@import '../../../design-system/settings/colors';

footer {
  background-color: colors.$bg--brown;
}

.footer-sect {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: colors.$bg--green;
  color: colors.$text-secondary;
  padding: spacing.$section__mb;
  margin-top: 3rem;
  border-radius: 0rem 0rem border.$radius--mid border.$radius--mid ;

  @include tablet() {
    padding: spacing.$pd__tb;
    gap: 1rem;
  }

  @include desktop() {
    padding: spacing.$pd__dk--xs;
  }
  
  @include selectionBrownBg;

  &__nav-list {
    text-align: right;
    font-size: 1rem;
    font-family: "Eklektyk";
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }

  &__policies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: colors.$text-tertiary;
    gap: 1rem;
    margin-top: 2rem;
    align-content: flex-end;

    @include mobile() {
      margin-top: 0;
    justify-content: flex-end;

    }

  }
}