@use '../../../design-system/settings/colors';
@use '../../../design-system/settings/spacing';
@import '../../../design-system/settings/breakpoints';

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: colors.$bg--green;
  color: colors.$text-secondary;
  padding: spacing.$section__mb;
  margin-top: 3rem;

  @include tablet() {
    padding: spacing.$pd__tb;
    gap: 1rem;
  }

  @include desktop() {
    padding: spacing.$pd__dk--xs;
  }
  
  ::selection {
    background-color: colors.$bg--brown;
    color: colors.$text-primary;
  }

  &__nav-list {
    text-align: right;
    font-size: 1rem;
    font-family: "Eklektyk";
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    line-height: 2rem;

    @include tablet() {
      flex-direction: row;
    }
  }

  &__policies {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    flex-direction: row;
    color: colors.$text-tertiary;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    @include mobile() {
      flex-direction: row;
    }
  }
}