@use "../../../design-system/settings/colors";
@use "../../../design-system/settings/border";
@use "../../../design-system/settings/spacing";
@import "../../../design-system/settings/colors";
@import "../../../design-system/settings/breakpoints";

.frieze {
  min-height: 1.8rem;
  width: 100%;
  z-index: 3;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .3rem .5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &__bg {
    @include bg-color;
  }

  :nth-child(1) {
    a {
      display: flex;
    }
  }

  :nth-child(2){
    display: flex;
    gap: 1rem;
  }
}