@use "../../../design-system/settings/spacing";
@use '../../../design-system/settings/colors';
@import "../../../design-system/settings/colors";
@import '../../../design-system/settings/breakpoints';

.header {
  position: relative;
  width: 100%;
  z-index: 1;

  &__logo-dinamic-wp {
    position: relative;
    width: 100%;

    @include tablet() {
      width: 200px;
    }
  }

  &__logo--dinamic {
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 2;
  }

  &__bg {
    @include bg-color;
  }
}

.bottom-limit {
  width: 100%;
  position: relative;

  @include desktop() {
    display: none;
  }
}