@use '../../../design-system/settings/colors';
@use '../../../design-system/settings/spacing';
@use '../../../design-system/settings/border';
@import '../../../design-system/settings/breakpoints';
@import '../../../design-system/settings/colors';

.navbar {
  width: 100%;
  height: 100%;

  &__icon-wrapper {
    position: fixed ;
    height: 100vh ;
    right: 1rem ;
    display: flex ;
    align-items: flex-start;
    z-index: 4 ;
    top: 0;
    flex-flow: wrap;
    align-content: center;
  }
  
  &__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    border-radius: border.$radius--xxl 0 0 border.$radius--xxl;
    background-color:colors.$brown;
    z-index: 3;
    padding: spacing.$pd__mb--small;
    transform: translateX(100%);
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  
    @include selectionGreenBg;

    @include tablet() {
      padding: spacing.$pd__dk--small;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-family: "Eklektyk";
    }
  }
}

.icon-wrapper {
  transition: transform 0.8s ease;

  &.rotate45 {
    transform: rotate(45deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.rotate360 {
  animation: rotate360 1s forwards;
  transition: all 0.8s forwards;
}

.xxxl-koduq {
  font-size: 20vw;
  line-height: 20vw;
  font-family: 'Eklektyk';
}