@use "../settings/colors";
@use "../settings/fonts";

.button {
  display: flex;

  &__default {
    font-family: "Eklektyk";
    padding: 1rem 3rem;
    text-transform: uppercase;
  }
  
  &__default-green {
    @extend .button__default;
    background-color: colors.$button-primary;
    color: colors.$button-secondary;
  }

  &__default-cream {
    @extend .button__default;
    background-color: colors.$button-secondary;
    color: colors.$button-primary;
  }

  &__default-brown {
    @extend .button__default;
    background-color: colors.$button-tertiary;
    color: colors.$button-secondary;
  }

  &__default:hover {
    color: colors.$button-primary;
    border: 1px solid colors.$button-primary;
    background-color: colors.$button-secondary;
  }

  &__underline {
    background: none;
    padding: 0;
    border-bottom: 1px solid;
  }

  &__underline-green {
    @extend .button__underline;
    color: colors.$button-primary;
    border-bottom-color: colors.$button-primary;
  }

  &__underline-cream {
    @extend .button__underline;
    color: colors.$button-secondary;
    border-bottom-color: colors.$button-secondary;
  }

  &__underline-brown {
    @extend .button__underline;
    color: colors.$button-tertiary;
    border-bottom-color: colors.$button-tertiary;
  }

  &__underline:hover {
    border-bottom-width: 2px;
    font-weight: 400;
  }
}