@use "../settings/colors";
@use "../settings/fonts";

.button {
  display: flex;
  white-space: nowrap;

  &__default {
    font-family: "Eklektyk";
    font-size: 1.5rem;
    padding: 0.2rem 0;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .5s ease;
    text-align: center!important;
    width: 100%;
    display: inline-block;
    
    &-green {
      @extend .button__default;
      background-color: colors.$button-primary;
      color: colors.$button-secondary;

      &:hover {
        color: colors.$button-primary;
        border: 1px solid colors.$button-primary;
        background-color: colors.$button-secondary;
      }
    }
  
    &-cream {
      @extend .button__default;
      background-color: colors.$button-secondary;
      color: colors.$button-primary;
    }
  
    &-brown {
      @extend .button__default;
      background-color: colors.$button-tertiary;
      color: colors.$button-secondary;
    }
  }

  &__underline {
    position: relative;
  
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: .3s ease;
      height: 1px;
    }

    &:hover:after {
      width: 0;
    }

    &-green {
      @extend .button__underline;
      color: colors.$button-primary;
      &:after {
        background: colors.$button-primary;
      }
    }
  
    &-cream {
      @extend .button__underline;
      color: colors.$button-secondary;
      &:after {
        background: colors.$button-secondary;
      }
    }

    &-brown {
      @extend .button__underline;
      color: colors.$button-tertiary;
      &:after {
        background: colors.$button-tertiary;
      }
    }
  }
}