@use "../settings/colors";
@use "../settings/fonts";

.curtain {
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transform: translate(0);
  height: 100%;
  width: 100%;
  transition: transform 1s ease;

  &-green {
    background: colors.$green;
  }

  &-cream {
    background: colors.$cream;
  }

  &-brown {
    background: colors.$brown;
  }
}