@use "../settings/colors";

.hr {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 1px; 
  border: none; 

  &-green {
    background-color: colors.$green;
  }

  &-cream {
    background-color: colors.$cream;
  }

  &-brown {
    background-color: colors.$brown;
  }
}
