@use "../settings/colors";
@import "../settings/colors";


.frieze {
  height: 1.8rem;
  width: 100%;
  z-index: 4;
  position: relative;
  &__bg {
    @include bg-color;
  }
}

.dropdown {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: colors.$brown;
  padding: 10px;
  height: 80vh; 
  transform: translateY(-100%); 
  color: colors.$cream;
}