@use "../settings/fonts";
@use "../settings/breakpoints";

$font-family-simple: "Trap";
$font-family-fancy: "Eklektyk";

$h-sizes: (
  h1: (mb: fonts.$h1-mb, dk: fonts.$h1-dk),
  h2: (mb: fonts.$h2-mb, dk: fonts.$h2-dk),
  h3: (mb: fonts.$h3-mb, dk: fonts.$h3-dk),
  h4: (mb: fonts.$h4-mb, dk: fonts.$h4-dk)
);

$line-height-sizes: (
  h1: (mb: fonts.$line-height-h1-mb, dk: fonts.$line-height-h1-dk),
  h2: (mb: fonts.$line-height-h2-mb, dk: fonts.$line-height-h2-dk),
  h3: (mb: fonts.$line-height-h3-mb, dk: fonts.$line-height-h3-dk),
  h4: (mb: fonts.$line-height-h4-mb, dk: fonts.$line-height-h4-dk)
);

@mixin heading-font-styles($size-mb, $size-dk, $line-height-mb, $line-height-dk, $family: $font-family-fancy) {
  font-family: $family;
  font-size: $size-mb;
  line-height: $line-height-mb;

  @media only screen and (min-width: breakpoints.$mobile) {
    font-size: $size-dk;
    line-height: $line-height-dk;
  }
}

.heading {
  @each $h, $sizes in $h-sizes {
    &--#{$h} {
      @include heading-font-styles(
        map-get($sizes, mb),
        map-get($sizes, dk),
        map-get($line-height-sizes, $h, mb),
        map-get($line-height-sizes, $h, dk)
      );

      &-simple {
        @include heading-font-styles(
          map-get($sizes, mb),
          map-get($sizes, dk),
          map-get($line-height-sizes, $h, mb),
          map-get($line-height-sizes, $h, dk),
          $font-family-simple
        );
      }
    }
  }
}
