@use "../settings/fonts";
@use "../settings/breakpoints";

$font-family-simple: "Trap";
$font-family-fancy: "Eklektyk";

$h-sizes: (
  h1: (mb: fonts.$h1-mb, dk: fonts.$h1-dk),
  h2: (mb: fonts.$h2-mb, dk: fonts.$h2-dk),
  h3: (mb: fonts.$h3-mb, dk: fonts.$h3-dk)
);

@mixin heading-font-styles($size-mb, $size-dk, $family: $font-family-fancy) {
  font-family: $family;
  font-size: $size-mb;

  @media only screen and (min-width: breakpoints.$mobile) {
    font-size: $size-dk;
  }
}

.heading {
  @each $h, $sizes in $h-sizes {
    &--#{$h} {
      @include heading-font-styles(map-get($sizes, mb), map-get($sizes, dk));
      
      &-simple {
        @include heading-font-styles(map-get($sizes, mb), map-get($sizes, dk), $font-family-simple);
      }
    }
  }
}
