.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);

  &:hover {
    stroke-width: 2 !important;
  }

  &--s {
    --icon-size: 1.25rem;
  }

  &--m {
    --icon-size: 1.5rem;
  }

  &--l {
    --icon-size: 2rem;
  }

  &--xl {
    --icon-size: 2.5rem;
  }
}
