@use "../settings/colors";
@use "../settings/fonts";

.link {
  font-weight: 600;

  &:active {
    color: colors.$text-secondary;
  }

  &:hover {
    text-decoration: underline;
    // color: colors.$state-active;
  }

  &:disabled {
    // color: colors.$state-disabled;
  }

  &:hover {
    text-decoration: underline;
  }

  &__color {
    &-green {
      color: colors.$green;
    }

    &-cream {
      color: colors.$cream;
    }

    &-brown {
      color: colors.$brown;
    }
  }

  &__size {
    &-xs {
      font-size: fonts.$link-xs;
    }

    &-s {
      font-size: fonts.$link-s;
    }

    &-m {
      font-size: fonts.$link-m;
    }

    &-l {
      font-size: fonts.$link-l;
    }
  }
}