@use "../settings/colors";

.marqueeContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  font-family: 'Eklektyk';
  color: colors.$green;
  font-size: 8rem;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  animation: marqueeAnimation 30s linear infinite; 
  position: relative;
  
  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  &::before {
    right: 100%;
  }
  
  &::after {
    left: 100%;
  }

  &-green {
    color: colors.$green;
  }

  &-cream {
    color: colors.$cream; 
  }

  &-brown {
    color: colors.$brown; 
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
