@use "../settings/colors";
@import "../settings/breakpoints";
@import "../settings/colors";

.marqueeContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: $cream;
}

.marquee {
  font-family: 'Eklektyk';
  color: colors.$green;
  font-size: 5rem;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  animation: marqueeAnimation 70s linear infinite; 
  position: relative;

  @include mobile()  {
    font-size: 7rem;
  }

  &::before, &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  &::before {
    right: 100%;
  }
  
  &::after {
    left: 100%;
  }

  &__color {
    @include color;
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
