@use "../settings/colors";

.marqueeContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  gap: 2rem;
}

.marquee {
  font-family: 'Eklektyk';
  color: colors.$green;
  font-size: 8rem;
  display: inline-block;
  user-select: none;
  animation: marqueeAnimation 200s linear infinite;
}

.marqueeKodu {
  color: colors.$green;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}