@use "../../../../../design-system/settings/colors";

.avlblty-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: colors.$green;

  h4 {
    font-weight: 600;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      margin-bottom: 1rem;
    }
  }
}